.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;

  
  grid-template-rows: 60px 1fr; 
  grid-template-columns: 2fr 10fr;
  /* gap: 0px 0px;  */
  grid-template-areas: 
  "h h"
  "n c";
}

.header{
  grid-area: h;
  background-color: rgb(5, 240, 44)3c3;
}
.logo{
  width: 20px;
}

.nav{
  grid-area: n;
  background-color: #fcb2ff;
}

.content{
  grid-area: c;
  background-color: #cebbfe;
}
.wideImg{
  width: 100%;
  height: 200px;
}